.articels {
  position: relative;

  .container {
    .allarticels {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      gap: 40px;

      .onesarticels {
        width: 100%;
        box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
        border-radius: 6px;
        overflow: hidden;
        transition: transform 0.5s, box-shadow 0.5s;
        // transition: 0.5s;

        .imag {
          img {
            width: 100%;
            height: 200px;
          }
        }

        .textbox {
          padding: 20px;
          width: 100%;

          h3 {
            margin-bottom: 15px;
            text-transform: capitalize;
          }

          p {
            color: #777;
            line-height: 1.5;
          }
        }

        .onesarticelfooter {
          padding: 20px;
          border-top: 1px solid #e6e6e7;
          display: flex;
          justify-content: space-between;
          align-items: center;
          a {
            font-weight: bold;
            text-transform: capitalize;
            color: var(--main-color);
          }
          i{
            color: var(--main-color);
            font-weight: bold;
          }
        }
      }

      .onesarticels:hover{
        transform: translateY(-10px);
        box-shadow: 0 2px 15px rgb(0 0 0 / 40%);
      }
      .onesarticels:hover .onesarticelfooter i{
        animation: arrow-right 0.5s linear infinite;
      }
    }

  }
}

@keyframes arrow-right{
  100%{
    transform: translateX(10px);
  }
}