.Latest-Events {

  .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;

    img {
      max-width: 45%;
    }
    @media (max-width: 767px){
      img{
        display: none;
      }
    }



    .info {
      max-width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .time {
        display: flex;
        flex-direction: row;
        gap: 30px;
        align-items: center;

        .box-time {
          border: 2px solid #777;
          border-radius: 8px;

          span {
            font-size: 35px;
            color: var(--main-color);
            border-bottom: 1px solid #777;
            padding: 10px 16px;
            display: flex;
            align-items: center;
          }

          h5 {
            padding: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #444;
            text-transform: capitalize;
          }
        }
      }
      @media(max-width:767px){
        .time{
          gap: 12px;
        }
      }
      .undertime {
        text-align: center;
        margin-top: 35px;

        h2 {
          text-transform: capitalize;
        }

        p {
          color: #777;
          line-height: 1.7;
          margin-top: 15px;
        }
      }
    }
    @media(max-width:767px){
      .undertime{
        width: calc(100% + 194px);
      }

    }

    .subscribe {
      form {
        width: 600px;
        margin: 20px auto;
        background-color: #f6f5f5;
        padding: 30px 40px;
        border-radius: 50px;
        display: flex;
        gap: 20px;

        input[type="email"] {
          padding: 20px;
          border-radius: 50px;
          border: none;
          caret-color: var(--main-color);
          flex: 1;
          outline: none;
        }

        input[type="button"] {
          padding: 20px;
          border-radius: 50px;
          border: none;
          color: white;
          font-weight: bold;
          font-size: 18px;
          background-color: var(--main-color);
          cursor: pointer;
        }
      }
      @media (max-width: 767px){
        form {
          max-width: 100%;
          padding: 20px;
          flex-direction: column;
          border-radius: 0px;

          input[type="email"] {
            border-radius: 0px;
          }
        }
      }
    }
    @media(max-width:767px){
      .subscribe{
        width: 100%;
      }
    }
  }

  @media(max-width:767px){
    .container{
      width: 70%;
    }
  }
}