:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-padding: 100px;

}
$mainpadding: 100px;

.p-t-b-100{
  padding-top: $mainpadding;
  padding-bottom: $mainpadding;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}



.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

.main-title {
  margin: 100px auto;
  border: 3px solid;
  padding: 10px 20px;
  width: fit-content;
  font-size: 30px;
  position: relative;
  z-index: 1;
}

.main-title::before,
.main-title::after {
  content: "";
  width: 13px;
  height: 13px;
  background-color: var(--main-color);
  position: absolute;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.main-title::before {
  left: -30px;
}

.main-title::after {
  right: -30px;
}

.main-title:hover {
  color: white;
  border-color: var(--main-color);
  transition-delay: 0.5s;
}

.main-title:hover::before {
  z-index: -1;
  animation: leftmove 0.5s linear forwards;
}

.main-title:hover::after {
  z-index: -1;
  animation: rightmove 0.5s linear forwards;
}

@keyframes leftmove {
  50% {
    left: 0;
  }

  100% {
    left: 0;
    border-radius: 0;
    width: 55%;
    height: 100%;
  }
}

@keyframes rightmove {
  50% {
    right: 0;
  }

  100% {
    right: 0;
    border-radius: 0;
    width: 55%;
    height: 100%;
  }
}



@media (min-width: 268px) {
  .container {
    width: 394px;
  }
}

@media (min-width: 540px) {
  .container {
    width: 530px;
  }
}

// small screen
@media (min-width: 768px) {
  .container {
    width: 730px;
  }
}

// medium screen
@media (min-width: 992px) {
  .container {
    width: 945px;
  }
}

// larg screen
@media (min-width: 1200px) {
  .container {
    width: 1165px;
  }
}