.Our-Skills {

  .container {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;

    .imag {
      max-width: 50%;
      img {
        max-width: 100%;
      }
    }

    @media(max-width:767px){
      .imag{
        display: none;
      }
    }

    .stat {
      flex: 1;

      .skill {
        margin-bottom: 30px;
        width: 100%;

        h3 {
          margin-bottom: 15px;
        }

        .the-progress {
          width: 100%;
          height: 25px;
          background-color: #ccc;
          position: relative;
          z-index: -1;

          span {
            z-index: 1;
            position: absolute;
            height: 100%;
            background-color: var(--main-color);
          }

          span::after {
            content: attr(data-width);
            position: absolute;
            border: 1px solid #777;
            color: var(--main-color);
            top: -40px;
            right: 0px;
            width: fit-content;
            height: fit-content;
            font-size: 14px;
            padding: 2px 3px;
            font-weight: bold;
          }
        }


      }
    }
  }
}