.Services {
  background-color: #ececec;
  position: relative;

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;

    .box {
      text-align: center;
      box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
      background-color: white;
      position: relative;
      transition: 0.4s;
      counter-increment: services;

      i {
        margin-top: 25px;
        font-size: 100px;
        color: #777;
      }

      h3 {
        margin-top: 20px;
        margin-bottom: 45px;
        color: var(--main-color);
        font-weight: bold;
        font-size: 24px;
        text-transform: capitalize;
      }

      .info {
        text-align: right;
        padding: 15px;
        background-color: #f9f9f9;
        position: relative;
        a{
          color: var(--main-color);
        }
      }

      .info::before {
        content: "0" counter(services);
        position: absolute;
        left: 0;
        top: 0;
        color: white;
        background-color: var(--main-color);
        height: 100%;
        width: 26%;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        font-size: 25px;
        font-weight: bold;
        padding-right: 10px;
      }

      .info::after {
        content: "";
        position: absolute;
        left: 89px;
        top: 0;
        background-color: #ccc;
        height: 100%;
        width: 15%;
        transform: skewX(-25deg);
      }

    }

    .box::before {
      content: "";
      position: absolute;
      height: 3px;
      width: 0%;
      background-color: var(--main-color);
      top: -2px;
      left: 50%;
      transform: translateX(-50%);
      transition: 0.4s;
    }

    .box:hover::before {
      width: 100%;
    }

    .box:hover {
      transform: translateY(-20px);
      box-shadow: 0 12px 20px 0 rgb(0 0 0 / 23%), 0 2px 4px 0 rgb(0 0 0 / 22%);
    }


  }
}