:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-padding: 100px;
}

.p-t-b-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

.main-title {
  margin: 100px auto;
  border: 3px solid;
  padding: 10px 20px;
  width: fit-content;
  font-size: 30px;
  position: relative;
  z-index: 1;
}

.main-title::before,
.main-title::after {
  content: "";
  width: 13px;
  height: 13px;
  background-color: var(--main-color);
  position: absolute;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.main-title::before {
  left: -30px;
}

.main-title::after {
  right: -30px;
}

.main-title:hover {
  color: white;
  border-color: var(--main-color);
  transition-delay: 0.5s;
}

.main-title:hover::before {
  z-index: -1;
  animation: leftmove 0.5s linear forwards;
}

.main-title:hover::after {
  z-index: -1;
  animation: rightmove 0.5s linear forwards;
}

@keyframes leftmove {
  50% {
    left: 0;
  }
  100% {
    left: 0;
    border-radius: 0;
    width: 55%;
    height: 100%;
  }
}
@keyframes rightmove {
  50% {
    right: 0;
  }
  100% {
    right: 0;
    border-radius: 0;
    width: 55%;
    height: 100%;
  }
}
.dots {
  background-image: url("../image/dots.png");
  width: 210px;
  height: 200px;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 0;
}

.up-dot {
  right: 0px;
  top: 100px;
}

.down-dot {
  bottom: 100px;
  left: 0px;
}

.spick {
  position: relative;
}

.spick::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 30px;
  z-index: 1;
  background-image: linear-gradient(135deg, white 25%, transparent 25%), linear-gradient(225deg, white 25%, transparent 25%);
  background-size: 30px 30px;
  top: 0;
}

@media (min-width: 268px) {
  .container {
    width: 394px;
  }
}
@media (min-width: 540px) {
  .container {
    width: 530px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 730px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 945px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1165px;
  }
}
header {
  background-color: white;
  -moz-box-shadow: 0 0 10px #ddd;
  -webkit-box-shadow: 0 0 10px #ddd;
  box-shadow: 0 0 10px #ddd;
}
header .container {
  display: flex;
  justify-content: space-around;
  position: relative;
  flex-wrap: wrap;
}
header .container .logo a {
  align-items: center;
  text-decoration: none;
  color: var(--main-color);
  font-size: 27px;
  font-weight: 900;
  text-transform: uppercase;
  height: 75px;
  display: flex;
  justify-content: center;
}
header .container .main-nav {
  display: flex;
}
header .container .main-nav > li > a {
  text-transform: capitalize;
  text-decoration: none;
  color: #333;
  padding: 0 30px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
header .container .main-nav > li > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
  left: -100%;
  top: 0;
  transition: 0.4s;
}
header .container .main-nav > li > a:hover::before {
  left: 0;
}
header .container .main-nav > li > a:hover::before {
  left: 0;
}
header .container .mega-link {
  position: absolute;
  width: 100%;
  display: flex;
  gap: 40px;
  background-color: white;
  padding: 30px;
  border-bottom: 3px solid var(--main-color);
  z-index: -1;
  opacity: 0;
  left: 0;
  top: calc(100% + 50px);
  transition: top 0.3s, opacity 0.5s;
}
header .container .mega-link .imag img {
  max-width: 100%;
}
header .container .mega-link .links {
  min-width: 240px;
  flex: 1;
}
header .container .mega-link .links li {
  position: relative;
}
header .container .mega-link .links li a {
  color: var(--main-color);
  font-size: 1rem;
  padding: 15px;
  font-weight: bold;
  display: flex;
  align-items: center;
}
header .container .mega-link .links li a i {
  margin-right: 10px;
}
header .container .mega-link .links li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background-color: #f9f9f9;
  left: 0;
  z-index: -1;
  transition: 0.3s;
}
header .container .mega-link .links li:hover a::after {
  width: 100%;
}
header .container .mega-link .links li:not(:last-child) {
  border-bottom: 1px solid #e9e6e6;
}
@media (max-width: 991px) {
  header .container .mega-link .imag img {
    display: none;
  }
}
header .container .other-link:hover .mega-link {
  z-index: 100;
  opacity: 1;
  top: 100%;
}
@media (max-width: 767px) {
  header .container .mega-link {
    flex-direction: column;
    gap: 0;
    padding: 15px;
  }
  header .container .links:first-of-type li:last-child {
    border-bottom: 1px solid #e9e6e6;
  }
}

.landingpage {
  position: relative;
}
.landingpage .container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  height: 90vh;
}
.landingpage .container .imag img {
  width: 570px;
  margin-bottom: 80px;
  position: relative;
  animation: up-and-down 5s linear infinite;
}
@media (max-width: 991px) {
  .landingpage .container .imag img {
    display: none;
  }
}
.landingpage .container .text {
  text-align: left;
  flex: 1;
}
.landingpage .container .text h3 {
  font-size: 40px;
  font-weight: bold;
  text-transform: capitalize;
  padding-bottom: 20px;
  letter-spacing: -2px;
}
.landingpage .container .text p {
  font-size: 20px;
  line-height: 1.7;
  color: #777;
  max-width: 500px;
}
@media (max-width: 991px) {
  .landingpage .container .text {
    text-align: center;
  }
  .landingpage .container .text p {
    text-align: center;
    margin: 0 auto;
  }
}
@media (max-width: 539px) {
  .landingpage .container .text {
    text-align: center;
  }
  .landingpage .container .text h3 {
    font-size: 35px;
  }
  .landingpage .container .text p {
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
  }
}
@media (max-width: 991px) {
  .landingpage .container {
    height: 80vh;
  }
}
.landingpage .arrow i {
  color: var(--main-color);
  font-size: 26px;
  position: absolute;
  left: 50%;
  bottom: 26px;
  transform: translateX(-50%);
  animation: bouncing 1.5s infinite;
}
@media (max-width: 991px) {
  .landingpage .arrow i {
    bottom: 0px;
  }
}

.landingpage::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #eee;
  z-index: -1;
  transform: skewY(-6deg);
  transform-origin: top left;
}

@keyframes up-and-down {
  0%, 100% {
    top: 0;
  }
  50% {
    top: -50px;
  }
}
@keyframes bouncing {
  0%, 10%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40%, 60% {
    transform: translateY(-15px);
  }
}
.articels {
  position: relative;
}
.articels .container .allarticels {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
.articels .container .allarticels .onesarticels {
  width: 100%;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  overflow: hidden;
  transition: transform 0.5s, box-shadow 0.5s;
}
.articels .container .allarticels .onesarticels .imag img {
  width: 100%;
  height: 200px;
}
.articels .container .allarticels .onesarticels .textbox {
  padding: 20px;
  width: 100%;
}
.articels .container .allarticels .onesarticels .textbox h3 {
  margin-bottom: 15px;
  text-transform: capitalize;
}
.articels .container .allarticels .onesarticels .textbox p {
  color: #777;
  line-height: 1.5;
}
.articels .container .allarticels .onesarticels .onesarticelfooter {
  padding: 20px;
  border-top: 1px solid #e6e6e7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.articels .container .allarticels .onesarticels .onesarticelfooter a {
  font-weight: bold;
  text-transform: capitalize;
  color: var(--main-color);
}
.articels .container .allarticels .onesarticels .onesarticelfooter i {
  color: var(--main-color);
  font-weight: bold;
}
.articels .container .allarticels .onesarticels:hover {
  transform: translateY(-10px);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.4);
}
.articels .container .allarticels .onesarticels:hover .onesarticelfooter i {
  animation: arrow-right 0.5s linear infinite;
}

@keyframes arrow-right {
  100% {
    transform: translateX(10px);
  }
}
.Galary {
  background-color: #eee;
  position: relative;
}
.Galary .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.Galary .container .box {
  background-color: white;
  padding: 15px;
  box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.13), 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
}
.Galary .container .box .imag {
  position: relative;
  overflow: hidden;
}
.Galary .container .box .imag img {
  max-width: 100%;
  transition: 0.3s;
}
.Galary .container .box .imag:hover img {
  transform: rotate(3deg) scale(1.2);
}
.Galary .container .box .imag::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: hsla(0deg, 0%, 100%, 0.39);
  width: 0px;
  height: 0px;
  opacity: 1;
}
.Galary .container .box .imag:hover::after {
  animation: flashing 0.4s;
}

@keyframes flashing {
  0%, 40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}
.Features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.Features .container .box {
  border: 1px solid #ccc;
  overflow: hidden;
}
.Features .container .box .imag {
  position: relative;
}
.Features .container .box .imag img {
  max-width: 100%;
  max-height: 100%;
  height: 300px;
}
.Features .container .box .text h3 {
  position: relative;
  font-size: 40px;
  margin: auto;
  width: fit-content;
}
.Features .container .box .text h3::after {
  content: "";
  width: 60%;
  height: 5px;
  position: absolute;
  left: 50%;
  bottom: -20px;
  transform: translateX(-50%);
}
.Features .container .box .text p {
  margin-top: 50px;
  margin-bottom: 100px;
  text-align: center;
  line-height: 2;
  color: #777;
}
.Features .container .box .btn {
  text-align: center;
  margin-bottom: 40px;
}
.Features .container .box .btn a {
  font-weight: bold;
  text-transform: capitalize;
  font-size: 20px;
  width: fit-content;
  padding: 12px 30px;
  border: 3px solid;
  border-radius: 5px;
}
.Features .container .imag::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.Features .container .imag::before {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 0px 0px 140px 450px;
  border-color: transparent transparent white transparent;
  z-index: 22222;
  bottom: -1px;
  right: 0;
  transition: 0.3s;
}
.Features .container .box:hover .imag::before {
  border-width: 170px 361px 140px 0;
}
.Features .container .Quality .imag::after {
  background-color: rgba(255, 46, 46, 0.3098039216);
}
.Features .container .Quality .text h3::after {
  background-color: #f44036;
}
.Features .container .Quality .btn a {
  color: #f44036;
  border-color: #f44036;
  background: linear-gradient(to right, #f44036 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: 0.3s;
}
.Features .container .Quality:hover a {
  color: white;
  background-position: left bottom;
}
.Features .container .Time .imag::after {
  background-color: hwb(147 10% 30%/0.31);
}
.Features .container .Time .text h3::after {
  background-color: #009688;
}
.Features .container .Time .btn a {
  color: #009688;
  border-color: #009688;
  background: linear-gradient(to right, #009688 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: 0.3s;
}
.Features .container .Time:hover a {
  color: white;
  background-position: left bottom;
}
.Features .container .Passion .imag::after {
  background-color: rgba(3, 168, 244, 0.37);
}
.Features .container .Passion .text h3::after {
  background-color: #03a9f4;
}
.Features .container .Passion .btn a {
  color: #03a9f4;
  border-color: #03a9f4;
  background: linear-gradient(to right, #03a9f4 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: 0.3s;
}
.Features .container .Passion:hover a {
  color: white;
  background-position: left bottom;
}

.Testimonials {
  background-color: #ececec;
}
.Testimonials .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.Testimonials .container .box {
  position: relative;
  background-color: white;
  padding: 20px;
}
.Testimonials .container .box img {
  max-width: 30%;
  width: 90px;
  height: 90px;
  position: absolute;
  border-radius: 50%;
  right: -8px;
  top: -40px;
  padding: 8px;
  background-color: #ececec;
}
.Testimonials .container .box .rating {
  margin-bottom: 21px;
}
.Testimonials .container .box .rating i:not(:last-child) {
  color: gold;
}
.Testimonials .container .box .text h3 {
  margin-bottom: 15px;
  text-transform: capitalize;
}
.Testimonials .container .box .text h4 {
  color: #777;
  margin-bottom: 10px;
  font-size: 15px;
}
.Testimonials .container .box .text p {
  color: #777;
}

.Team-Members .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.Team-Members .container .box {
  position: relative;
}
.Team-Members .container .box .data {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 45px;
}
.Team-Members .container .box .data img {
  max-width: calc(100% - 60px);
  border-radius: 10px;
  transition: 0.5s;
}
.Team-Members .container .box .data .social {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Team-Members .container .box .data .social i {
  margin-bottom: 15px;
  transition: 0.3s;
}
.Team-Members .container .box .data .social i:hover {
  color: var(--main-color);
}
.Team-Members .container .box .info {
  padding-left: 24%;
  margin-top: 10px;
  padding-bottom: 20px;
}
.Team-Members .container .box .info h2 {
  color: var(--main-color);
  font-size: 26px;
  font-weight: 800;
  text-transform: uppercase;
}
.Team-Members .container .box .info p {
  color: #777;
  margin-top: 5px;
}
.Team-Members .container .box::before {
  content: "";
  position: absolute;
  width: 83%;
  height: 100%;
  top: 0px;
  right: -5px;
  background-color: #f3f3f3;
  z-index: -2;
  border-radius: 10px;
}
.Team-Members .container .box::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0px;
  right: -5px;
  background-color: #ddd;
  z-index: -1;
  border-radius: 10px;
  transition: 0.3s;
}
.Team-Members .container .box:hover .data img {
  filter: grayscale(100%);
}
.Team-Members .container .box:hover::after {
  width: 83%;
}
.Team-Members .container .box:hover .info h2 {
  transition-delay: 0.2s;
  color: #333;
}

.Services {
  background-color: #ececec;
  position: relative;
}
.Services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.Services .container .box {
  text-align: center;
  box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.13), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  background-color: white;
  position: relative;
  transition: 0.4s;
  counter-increment: services;
}
.Services .container .box i {
  margin-top: 25px;
  font-size: 100px;
  color: #777;
}
.Services .container .box h3 {
  margin-top: 20px;
  margin-bottom: 45px;
  color: var(--main-color);
  font-weight: bold;
  font-size: 24px;
  text-transform: capitalize;
}
.Services .container .box .info {
  text-align: right;
  padding: 15px;
  background-color: #f9f9f9;
  position: relative;
}
.Services .container .box .info a {
  color: var(--main-color);
}
.Services .container .box .info::before {
  content: "0" counter(services);
  position: absolute;
  left: 0;
  top: 0;
  color: white;
  background-color: var(--main-color);
  height: 100%;
  width: 26%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  font-size: 25px;
  font-weight: bold;
  padding-right: 10px;
}
.Services .container .box .info::after {
  content: "";
  position: absolute;
  left: 89px;
  top: 0;
  background-color: #ccc;
  height: 100%;
  width: 15%;
  transform: skewX(-25deg);
}
.Services .container .box::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 0%;
  background-color: var(--main-color);
  top: -2px;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.4s;
}
.Services .container .box:hover::before {
  width: 100%;
}
.Services .container .box:hover {
  transform: translateY(-20px);
  box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.23), 0 2px 4px 0 rgba(0, 0, 0, 0.22);
}

.Our-Skills .container {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}
.Our-Skills .container .imag {
  max-width: 50%;
}
.Our-Skills .container .imag img {
  max-width: 100%;
}
@media (max-width: 767px) {
  .Our-Skills .container .imag {
    display: none;
  }
}
.Our-Skills .container .stat {
  flex: 1;
}
.Our-Skills .container .stat .skill {
  margin-bottom: 30px;
  width: 100%;
}
.Our-Skills .container .stat .skill h3 {
  margin-bottom: 15px;
}
.Our-Skills .container .stat .skill .the-progress {
  width: 100%;
  height: 25px;
  background-color: #ccc;
  position: relative;
  z-index: -1;
}
.Our-Skills .container .stat .skill .the-progress span {
  z-index: 1;
  position: absolute;
  height: 100%;
  background-color: var(--main-color);
}
.Our-Skills .container .stat .skill .the-progress span::after {
  content: attr(data-width);
  position: absolute;
  border: 1px solid #777;
  color: var(--main-color);
  top: -40px;
  right: 0px;
  width: fit-content;
  height: fit-content;
  font-size: 14px;
  padding: 2px 3px;
  font-weight: bold;
}

.How-It-Works {
  background-color: #ececec;
}
.How-It-Works .container {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: space-around;
}
.How-It-Works .container .imag img {
  max-width: 100%;
}
@media (max-width: 991px) {
  .How-It-Works .container .imag {
    display: none;
  }
}
.How-It-Works .container .boxs {
  width: 52%;
  display: flex;
  flex-direction: column;
}
.How-It-Works .container .boxs .box {
  display: flex;
  align-items: center;
  padding: 30px;
  background-color: #f6f5f5;
  border: 2px solid white;
  border-radius: 7px;
  position: relative;
  margin-bottom: 15px;
}
.How-It-Works .container .boxs .box img {
  margin-right: 25px;
  width: 64px;
}
.How-It-Works .container .boxs .box .info h2 {
  margin-bottom: 15px;
  text-transform: capitalize;
}
.How-It-Works .container .boxs .box .info p {
  line-height: 1.6;
  color: #777;
  font-size: 18px;
}
.How-It-Works .container .boxs .box::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(196, 195, 195, 0.24);
  width: 10px;
  height: 10px;
  transition: 0.3s;
}
.How-It-Works .container .boxs .box:hover::after {
  width: 100%;
  height: 100%;
}
@media (max-width: 991px) {
  .How-It-Works .container .boxs {
    width: 92%;
    max-width: 100%;
  }
  .How-It-Works .container .boxs .box {
    padding: 10px;
  }
}

.Latest-Events {
  position: relative;
}
.Latest-Events .container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.Latest-Events .container img {
  max-width: 45%;
}
@media (max-width: 767px) {
  .Latest-Events .container img {
    display: none;
  }
}
.Latest-Events .container .info {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Latest-Events .container .info .time {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
}
.Latest-Events .container .info .time .box-time {
  border: 2px solid #777;
  border-radius: 8px;
}
.Latest-Events .container .info .time .box-time span {
  font-size: 35px;
  color: var(--main-color);
  border-bottom: 1px solid #777;
  padding: 10px 16px;
  display: flex;
  align-items: center;
}
.Latest-Events .container .info .time .box-time h5 {
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #444;
  text-transform: capitalize;
}
@media (max-width: 767px) {
  .Latest-Events .container .info .time {
    gap: 12px;
  }
}
.Latest-Events .container .info .undertime {
  text-align: center;
  margin-top: 35px;
}
.Latest-Events .container .info .undertime h2 {
  text-transform: capitalize;
}
.Latest-Events .container .info .undertime p {
  color: #777;
  line-height: 1.7;
  margin-top: 15px;
}
@media (max-width: 767px) {
  .Latest-Events .container .undertime {
    width: calc(100% + 194px);
  }
}
.Latest-Events .container .subscribe form {
  width: 600px;
  margin: 20px auto;
  background-color: #f6f5f5;
  padding: 30px 40px;
  border-radius: 50px;
  display: flex;
  gap: 20px;
}
.Latest-Events .container .subscribe form input[type=email] {
  padding: 20px;
  border-radius: 50px;
  border: none;
  caret-color: var(--main-color);
  flex: 1;
  outline: none;
}
.Latest-Events .container .subscribe form input[type=button] {
  padding: 20px;
  border-radius: 50px;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
  background-color: var(--main-color);
  cursor: pointer;
}
@media (max-width: 767px) {
  .Latest-Events .container .subscribe form {
    max-width: 100%;
    padding: 20px;
    flex-direction: column;
    border-radius: 0px;
  }
  .Latest-Events .container .subscribe form input[type=email] {
    border-radius: 0px;
  }
}
@media (max-width: 767px) {
  .Latest-Events .container .subscribe {
    width: 100%;
    z-index: 1;
  }
}
@media (max-width: 767px) {
  .Latest-Events .container {
    width: 70%;
  }
}

.price {
  background-color: #ececec;
  position: relative;
}
.price .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 200px;
}
.price .container .box-price {
  background-color: white;
  position: relative;
  box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.13), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  transition: 0.5s;
}
.price .container .box-price .box-up {
  text-align: center;
  position: relative;
  z-index: 20;
}
.price .container .box-price .box-up h2 {
  font-weight: bold;
  text-transform: capitalize;
  font-size: 25px;
  letter-spacing: -1px;
  padding: 21px 0px;
}
.price .container .box-price .box-up i {
  display: block;
  margin: 27px 0px;
  font-size: 80px;
  color: var(--main-color);
}
.price .container .box-price .box-up span {
  font-size: 50px;
  font-weight: bold;
  color: var(--main-color);
}
.price .container .box-price .box-up h6 {
  color: #777;
  padding-bottom: 23px;
}
.price .container .box-price .box-down {
  position: relative;
  padding-bottom: 20px;
  z-index: 20;
}
.price .container .box-price .box-down ul li {
  padding: 23px 30px;
  border-top: 1px solid #eee;
}
.price .container .box-price .box-down ul li::before {
  font-family: "Font Awesome 6 Free";
  content: "\f058";
  color: var(--main-color);
  margin-right: 10px;
}
.price .container .box-price .box-down a {
  border: 1px solid var(--main-color);
  margin: 23px auto 0px;
  width: fit-content;
  display: block;
  padding: 15px 20px;
  color: var(--main-color);
  font-weight: bold;
  font-size: 15px;
  text-transform: capitalize;
  z-index: 222;
  border-radius: 9px;
}
.price .container .box-price .box-down a:hover {
  background-color: var(--main-color);
  color: white;
}
.price .container .box-price .box-up::before,
.price .container .box-price .box-down::before {
  content: "";
  position: absolute;
  height: 100%;
  top: 0px;
  width: 0%;
  background-color: rgba(86, 86, 86, 0.21);
  transition: 0.5s;
  z-index: -1;
}
.price .container .box-price .box-up::before {
  right: 0;
}
.price .container .box-price .box-down::before {
  left: 0;
}
.price .container .best {
  transform: translateY(-30px);
}
@media (max-width: 1198px) {
  .price .container .best {
    transform: translateY(0px);
  }
  .price .container .best:hover {
    transform: translateY(-30px);
  }
}
.price .container .choose1:hover {
  transform: translateY(-25px);
}
.price .container .choose:hover {
  transform: translateY(-25px);
}
.price .container .box-price:hover .box-up::before,
.price .container .box-price:hover .box-down::before {
  width: 100%;
}
.price .container .most-populer {
  position: relative;
  width: 39px;
  height: 163px;
  background-color: var(--main-color);
  top: 0;
  position: absolute;
  right: 40px;
  color: white;
  font-weight: bold;
  writing-mode: vertical-lr;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}
.price .container .most-populer::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-color: transparent transparent white transparent;
  border-width: 20px;
  bottom: 0;
}

.Stats {
  position: relative;
  z-index: 1;
  background-image: url("../image/setting-back.jpg");
}
.Stats .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 35px;
}
.Stats .container .box {
  background-color: white;
  text-align: center;
  padding: 20px;
  z-index: 11;
  box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.13), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  position: relative;
  transition: 0.4s;
}
.Stats .container .box i {
  display: block;
  margin: 20px auto;
  font-size: 45px;
  color: var(--main-color);
}
.Stats .container .box span {
  font-size: 47px;
  font-weight: bold;
}
.Stats .container .box h5 {
  margin: 5px auto;
  color: var(--main-color);
}
.Stats .container .box::after,
.Stats .container .box::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 0%;
  background-color: var(--main-color);
  transition: 0.4s;
}
.Stats .container .box::after {
  top: 0;
  left: 0;
}
.Stats .container .box::before {
  bottom: 0;
  right: 0;
}
.Stats .container .box:hover::after,
.Stats .container .box:hover::before {
  height: 100%;
}
.Stats .container .box:hover {
  transform: translateY(-20px);
}

.Stats::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(236, 236, 236, 0.438);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.setting {
  content: "";
  position: absolute;
  background-image: url("../image/setting.png");
  background-repeat: no-repeat;
  width: 250px;
  height: 250px;
}

.up-left {
  top: 28px;
  left: 40px;
  animation: rotatd 4.5s linear infinite;
}

.down-right {
  bottom: 51px;
  right: 60px;
  animation: rotat 4.5s linear infinite;
}

@keyframes rotat {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotatd {
  100% {
    transform: rotate(-360deg);
  }
}/*# sourceMappingURL=style.css.map */